﻿.card .card-header {
    background-color: #fff;
}

.borde {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(170, 170, 170);
    padding: 1rem;
    min-width: 700px;
}
