@model List<Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/Index.css" rel="stylesheet" />
</head>

<h1>Reservas</h1>

<div class="card">
    <div class="card-header">
        <h5>Lista de Reservas</h5>
    </div>

    <div class="card-body">

        <div class="search-create">
            @* @if (User.HasClaim("Permiso", "Buscar Reservas")) *@
            
                <input class="form-control me-2" id="buscar" name="buscar" onkeyup="buscarAhora(this.value);" onblur="buscarAhora(this.value);" type="search" placeholder="Buscar por Nombre o por Fecha (mm/dd/yyyy)" aria-label="Search" />
            
            @* @if (User.HasClaim("Permiso", "Crear Reservas")) *@
            
                <a class="btn btn-success btn-sm mt-2" asp-action="Crear" asp-controller="Reservas">Crear Reserva</a>
            

        </div>

        <hr />

       @*  @if (User.HasClaim("Permiso", "Listar Reservas")) *@
        
            <div id="searchResults">
                @await Html.PartialAsync("_ResultadoBusquedaParcial", Model)
            </div>
        


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function buscarAhora(searchTerm) {
        $.ajax({
            url: '/Reservas/Buscar',
            type: 'GET',
            data: { searchTerm: searchTerm },
            dataType: 'html',
            success: function (data) {
                $('#searchResults').html(data);
            },
            error: function () {
                console.error('Error al realizar la búsqueda.');
            }
        });
    };

    function cambiarEstadoModal(id){

        Swal.fire({
            title: "¿Estas Seguro?",
            text: "No podras editar o añadir abonos a la reserva",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Anular",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {

                anularReserva(id);
            }
        });

    };

    function anularReserva(idReserva){

        $.ajax({
            url: '/Reservas/AnularReserva',
            type: 'POST',
            data: { idReserva: idReserva },
            success: function () {
                location.reload();
            },
            error: function () {
                console.error('Error al anular la reserva.');
            }
        })

    }

</script>